# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres67
DB_NAME=user_wallet_servicedb

# JWT
JWT_SECRET=super-secret-change-in-production-min-32-chars
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h

# HTTP Server
HTTP_PORT=8080